@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text-color: #4f5665;
  --title-color: #0b132a;
  --primary-color: #f53838;
  --side-margin: 20px 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--side-margin);
}

.header-nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header-nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
}

.header-nav ul li a:hover {
  color: var(--primary-color);
  font-weight: 700;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button-signIn {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 700;
}

.button-signIn:hover {
  color: var(--primary-color);
}

.button-signUp {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 6px 15px;
}

main {
  display: flex;
  justify-content: center;
  margin: var(--side-margin);
  padding-bottom: 20px;
}

.main-pt1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-pt1 h1 {
  font-weight: 700;
  color: var(--title-color);
}

.main-button {
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  width: 120px;
  height: 40px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid var(--primary-color);

  -webkit-box-shadow: 0px 15px 8px -2px rgba(245, 56, 56, 0.59);
  -moz-box-shadow: 0px 15px 8px -2px rgba(245, 56, 56, 0.59);
  box-shadow: 0px 15px 8px -2px rgba(245, 56, 56, 0.59);
}

.main-button:hover {
  background-color: white;
  color: var(--primary-color);
}

.main-pt2 {
  width: 50%;
  height: 275px;
  background-image: url("../img/img-main.png");
  background-repeat: no-repeat;
  background-position: center;
}

.external-section-one {
  margin: var(--side-margin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-one {
  height: auto;
  width: 1100px;
  border-radius: 10px;
  margin: var(--side-margin);
  -webkit-box-shadow: 0px 8px 15px -8px rgba(87,87,87,1);
  -moz-box-shadow: 0px 8px 15px -8px rgba(87,87,87,1);
  box-shadow: 0px 8px 15px -8px rgba(87,87,87,1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-one-pt {
  height: 150px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section-one-description h3 {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-one-description p {
  display: flex;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
}

.line {
  width: 1px;
  height: 120px;
  background-color: var(--text-color);
}

.section-two {
  display: flex;
  margin: var(--side-margin);
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-two-img {
  width: 50%;
  height: 50%;
}

.section-two-description {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;

  padding: 0px 0px 0px 0px; /* top, right, bottom, left */
}

.section-two-description p{
  padding-top: 5px;
}

.section-two-description h1 {
  padding: 0px 0px 8px 0px;
  font-weight: 700;
  color: var(--title-color);
}

.section-two-list {
  padding: 15px 0px 0px 0px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.section-two-img-list {
  align-items: center;
  display: flex;
  gap: 5px;
}

.section-three {
  margin: var(--side-margin);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  
}

.section-three-card {
  height: 600px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  padding: 25px 25px 50px 25px;
}

.section-three-card:hover {
  border: 2px solid var(--primary-color);
}

.section-three-card-titulo-button {
  display: flex;
  position: absolute;
  padding: 460px 0px 0px 0px; /* top, right, bottom, left*/
}

.section-three-card-titulo-button h1{
  color: var(--title-color);

}

.section-three-card-titulo-button h1 span{
  color: var(--text-color);
  
}

.section-three-card-titulo-button {
  display: flex;
  
}
/*
<div class="section-three-card-titulo-button">
        <h1>Free <span>/mo</span></h1>
      </div> */

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-itens {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
}

.card-img{
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-description h3 {
  padding-bottom: 10px;
}

.card-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 500px 0px 0px 0px; /* top, right, bottom, left */
}

.card-button a {
  color: var(--primary-color);
  text-decoration: none;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  padding: 10px 35px 10px 35px; /* top, right, bottom, left */

}

.card-button a:hover {
  color: white;
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 15px 8px -2px rgba(245, 56, 56, 0.59);
  -moz-box-shadow: 0px 15px 8px -2px rgba(245, 56, 56, 0.59);
  box-shadow: 0px 15px 8px -2px rgba(245, 56, 56, 0.59);
}

footer {
  padding: 20px 30px 20px 30px; /* top, right, bottom, left */
  background-color: #f8f8f8;
  height: 400px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--text-color);
}

.footer-pt-1 {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#marca-agua{
  color: #AFB5C0;
}

.footer-pt-2 {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-pt-2 h2{
  color: var(--title-color);
  padding-bottom: 10px;
}

.footer-pt-3 {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-pt-3 h2{
  color: var(--title-color);
  padding-bottom: 10px;
}

.footer-pt-3 h3{
  text-decoration: none;
}

.footer-pt-4 {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-pt-4 h2{
  color: var(--title-color);
  padding-bottom: 10px;
}

.footer h2 a,
.footer h3 a {
    text-decoration: none;
}